// Login Page

#login {
  background-image: url('../../../../assets/img/bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

  .login-img {
    padding: 0;
    background: #f0f0f0;
  }

  .login-btn {
    .btn.btn-outline-primary {
      &:hover {
        a {
          color: #fff;
        }
      }
    }
  }

  .recover-pass {
    button.btn.btn-primary {
      color: #fff !important;
    }
  }

  .forgot-password-option,
  .remember-me {

    a.text-decoration-none,
    .custom-control-label {
      font-size: 14px;
    }
  }
}
.login-img {
  border-radius: 5px;
  background-color: #fff;
}
.container {
  text-align: center;
}
.option-login {
  width: 100%;
}
.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
.br-10 {
  border-radius: 10px;
}